In [13]:
from Olx_Scraper import Olx_Scraper
from getpass import getpass

Initialization

In [14]:
url = 'https://www.olx.pl/oferty/q-cormen-wprowadzenie-do-algorytm%C3%B3w/'
a = Olx_Scraper(url,
                send_notification = True,
                notification_mail = 'TYPE YOUR E-MAIL ADDRESS',
                sender_mail = 'TYPE SENDER GMAIL ADDRESS',
                sender_pass = getpass())

········

Scrap instance. If it finds any offers, you will get e-mail.

In [15]:
a.scrap()

[('Wprowadzenie do algorytmów - Thomas H. Cormen',
  35.0,
  False,
  'Szczecin, Centrum',
  733172248),
 ('Książka Wprowadzenie do algorytmów T.H.Cormen - WAWA',
  100.0,
  True,
  'Warszawa, Mokotów',
  720684254),
 ('Wprowadzenie do algorytmów, T.H. Cormen, C.E. Leiserson, R.L. Rivest',
  80.0,
  True,
  'Gdynia, Wielki Kack',
  697268316),
 ('Zestaw Cormen Algorytmy bez tajemnic plus Wprowadzenie do algorytmów',
  120.0,
  True,
  'Poznań, Piątkowo',
  583593795),
 ('Cormen, Leiserson, Rivest, Stein - Wprowadzenie do algorytmów',
  80.0,
  False,
  'Łódź, Bałuty',
  730719790),
 ('Wprowadzenie do algorytmów Thomas H. Cormen',
  0.0,
  False,
  'Warszawa, Targówek',
  729063317)]

You can just get dataframe:

In [16]:
a.get_dataframe(a.data)

,tytuł,cena,dostawa olx,lokalizacja,id
0,Wprowadzenie do algorytmów Thomas H. Cormen,0.0,False,"Warszawa, Targówek",729063317
1,Wprowadzenie do algorytmów - Thomas H. Cormen,35.0,False,"Szczecin, Centrum",733172248
2,"Wprowadzenie do algorytmów, T.H. Cormen, C.E. ...",80.0,True,"Gdynia, Wielki Kack",697268316
3,"Cormen, Leiserson, Rivest, Stein - Wprowadzeni...",80.0,False,"Łódź, Bałuty",730719790
4,Książka Wprowadzenie do algorytmów T.H.Cormen ...,100.0,True,"Warszawa, Mokotów",720684254
5,Zestaw Cormen Algorytmy bez tajemnic plus Wpro...,120.0,True,"Poznań, Piątkowo",583593795

Run a.scrap() periodically to check new offers. The e-mail will only be sent if something changes.

This is what the e-mail looks like:
<img src="mail.jpg">